---
export function getStaticPaths() {
  return [
    { params: { rName: "example" }},
    { params: { rName: "ex2" }}
  ];
}

const rTarget = [["example","ex2"],["https:\\example.com","https:\\duckduckgo.com"]];
const { rName } = Astro.params;
return Astro.redirect(rTarget[1][rTarget[0].indexOf(rName)]);
---
<h1> {rName} </h1>